@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0px;
  font-family: "Poppins";
  background: #f8f8f8;
}
* {
  box-sizing: border-box;
}

ul {
  padding: 0px;
  list-style: none;
}

h1 {
  font-size: 1.4rem;
}

h1,
small {
  color: #3f3f3f;
}

a {
  color: #3f3f3f;
  text-decoration: none;
  font-size: 12px;
}

.container {
  max-width: 300px;
  margin: 3em auto;
  text-align: center;
}

.profile {
  &__image {
    width: 70px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.links {
  margin-top: 4em;
  ul {
    li {
      .link {
        .iconify {
          display: block;
          margin-right: 10px;
        }

        display: flex;
        justify-content: center;
        box-shadow: 4px 4px 30px rgba(154, 154, 154, 0.25);
        background: white;
        padding: 10px 20px;
        margin: 14px 0px;
        border-radius: 6px;
        &:hover {
          box-shadow: 4px 4px 40px rgba(154, 154, 154, 0.35);
        }
      }
      .purple-link {
        border: 1px solid #6a6bf6;
        color: #6a6bf6;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 600;
        transition: 0.4s ease;
        &:hover {
          background: #6a6bf6;
          color: #fbfbff;
        }
      }
    }
  }
}

.social-links {
  margin-top: 2em;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0px 10px;
      transition: 0.2s ease-in;

      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}
